body
{
	
	font-family: 'Raleway', sans-serif;

}

.scrolled
{
	background: rgba(0,0,0,0.8);
}



.header
{
	
	background: url('../images/head3.png') no-repeat top center;
	background-size: cover;
	height: 100vh;
	position: relative;
	color: #FFF;
	overflow: hidden;
}
.header .overlay
{
	
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0,.5);
}

.header .centering-vh
{
	margin-top: 25vh;
}


@media (max-width: 991px) {
	.header .centering-vh{
		margin-top: 80px;
	}
	
}
/*UpperCase*/
.uppercase
{
	text-transform: uppercase;
}

.header h1
{
	font-weight: bold;
	font-size: 65px;
}
.header span
{
	font-weight: normal;
	color: #efb223;
}

.header h1 ~ .lead
{
	font-size: 30px;
}

.header h1 ~ .lead:after
{
	content: '';
	display: block;
	width: 70px;
	height: 2px;
	background-color: #FFF;
	margin: 25px 0;
}

@media (max-width: 991px) {
	.header h1 ~ .lead:after{
		margin: 25px auto;
	}
	
}

.header button
{
	background: transparent;
	padding: 10px 20px;
	border:1px solid #FFF;
	margin-top:20px;
	font-weight: bold; 
}

@media (max-width: 991px) {
	.header button{
		display: block;
		margin: 20px auto;
	}
	
}

.header form
{
	width: 360px;
	background-color: #FFF;
	border-radius: 5px;
	overflow: hidden;

}

.header form h2
{
	color: #333;
	padding: 15px;
	background-color: #F5F5F5;
	font-size: 16px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 20px;


}

.header form span
{
	color: #efb223;
	font-weight: bold;
}


.header form .form-control
{
	
	border-radius: 0;
	border:none;
	box-shadow: none;
	border-bottom: 1px solid #CCC;
	width: 80%;
	margin: 0 auto 40px;

}
.header form .btn-block
{
	background-color: #efb223;
	color: #FFF;
	font-weight: bold;
	margin-top: 30px;
	border-radius: 0;
	padding: 15px;
}

.social-media
{
	padding: 10px;
	background-color: #FFF;
	box-shadow: 1px 1px 17px #000;

}

@media (max-width: 991px) {
	.social-media{
		text-align: center;
	}

	
}

.social-media h4
{
	font-weight: bold;
	margin-bottom: 5px;
}

@media (max-width: 991px) {
	.social-media h4{
		margin-bottom: 10px;
	}

	
}

.social-media p
{
	color: #A1A1A1;
	line-height: 1.4;
}

.social-media i
{
	color: #CCC;
	margin: 20px 15px;
	transition: all .5s ease-in-out;
	cursor: pointer;
}

@media (max-width: 991px) {
	.social-media i{
		margin: 10px 10px;
	}

	
}

.social-media .fa-facebook-f:hover
{
	color: #3b5998;
}

.social-media .fa-twitter:hover
{
	color: #1da1f2;

}

.social-media .fa-google-plus-g:hover
{
	color: #dd4b39;
}

.social-media .fa-pinterest:hover
{
	color: #ff0000;
}

.social-media .fa-instagram:hover
{
	color: #e1306c;
}

.social-media .fa-stumbleupon:hover
{
	color: #eb4924;
}

.social-media .fa-rss:hover
{
	color: #f26522;
}

.tab-section
{
	padding: 60px 0;
	background-color: #F1F1F1;

}

@media (max-width: 991px) {
	.tab-section{
		text-align: center;
	}

	
}

.tab-section .tab-switch li
{
	
	background-color: #333;
	color: #FFF;
	border-bottom: 1px solid #FFF;
	height: 110px;
	line-height: 110px;
	font-size: 20px;
	cursor: pointer;
}

.tab-section .tab-switch .selected,
.tab-section .tab-switch li:hover
{
	background-color: #efb223;
}

.tab-section .tabs-content div:not(.tab-one)
{
	display: none;
}

.tab-section .tabs-content h3
{

	margin-top: 0;
	font-weight: bold;
	letter-spacing: -1px;
	margin-bottom: 20px;
}

@media (max-width: 911px) {
	.tab-section .tabs-content h3{
		margin: 30px 0 20px;
	}
	
}



.tab-section .tabs-content .lead
{
	line-height: 1.6;
	font-weight: 20px;
	color: #7e7e7e;
}

.tab-section .tabs-content button
{
	background-color: #efb223;
	color: #FFF;
}

.sablist .sub-img
{
	margin-top: 120px;
}
.sablist h3
{
	font-weight: bold;


}
.sablist .list-info

{
	margin-top: 60px;
}

@media (max-width: 991px) {
	.sablist {
		text-align: center;
		padding: 10px;
	}

	
}
.sablist .list-info .sab-desc,
.stand .stand-desc
{
	color: #777;
	line-height: 1.6;
	margin-bottom: 30px;
}
.sablist .list-icon
{
	margin-bottom: 30px;
	overflow: hidden;
}
.sablist .list-icon i

{
	width: 40px;
	height: 40px;
	color: #efb223;
	border:2px solid #efb223 ;
	line-height:40px;
	text-align: center;
	border-radius: 50%;
	margin-right: 20px;
	margin-top: 10px;

	
}
@media (max-width: 991px) {
	.sablist .list-icon i{
		float: none !important;
		margin: 10px 0;
	}
	
}

.sablist .list-icon .text-info
{
	    width: calc(100% - 70px);

}

@media (max-width: 991px) {
	.sablist .list-icon .text-info{
		float: none !important;
		width: 100%;
	}
	
}

.sablist .list-icon .text-info h4
{
	font-weight: bold;
}


/*Start framework*/

.head-border:after
{
	content: '';
	display: block;
	width: 65px;
	height: 3px;
	background-color: #efb223;
	margin: 25px 0;
}

@media (max-width: 991px) {
	.head-border:after{
		margin: 25px auto;

	}
	
}


.stand
{
	padding: 60px 0;
	background-color: #F1F1F1;
}


.stand .list-info
{
	
	margin-bottom: 30px;
}

@media (max-width: 991px) {
	.stand .list-info {
		text-align: center;

	}

	
}


.awsome
{
	padding: 60px 0;
	background-color: #FFF;
}

.awsome .head-h2
{
	font-weight: bold;
	font-size: 70px;
}

.head-border-center:after

{
	content: '';
	display: block;
	width: 100px;
	height: 3px;
	background-color: #efb223;
	margin: 30px auto;
	
}
.awsome .awsome-desc
{
	line-height: 1.6;
	font-weight: 40px;
	color: #7e7e7e;
	margin-bottom: 70px;
}

.awsome i
{
	width: 100px;
	height: 100px;
	color: #efb223;
	border:2px solid #efb223 ;
	line-height:100px;
	text-align: center;
	border-radius: 50%;
	margin-right: 20px;
	margin-top: 10px;
}

.feat-head
{
	line-height: 1.5;
	font-weight: bold;
}

.feat-p
{
	line-height: 1.5;
	color: #7e7e7e;

}

.price-option
{
	background-color: #F5F5F5;

}

.price-option .price-box
{
	background-color: #FFF;
}

.price-option .price-box .plan-head
{
	background-color:#333; 
	color:#FFF;
	padding: 10px 0;
	margin: 0;
    font-weight: bold;
}

.price-option .price-box .basic
{
	background-color: #333;
	padding: 10px 0 20px;
	color: #FFF;
	border: 1px solid #FFF;
	
}

.price-option .price-box .basic .price
{
		color: #FFF;
		font-size: 70px;
		display: block;
		font-weight: bold;
		

}

.price-option .price-box .basic .price .usd
{
	font-size: 30px;
}

.price-option .price-box .basic .period
{
	color: #adadad;
	font-style: italic;
}

.price-option .price-box .basic
{
	border-bottom: 5px solid #efb223;
}

.price-option .configuration li
{
	padding: 10px;
	border :1px solid #F5F5F5 ;
	color: #8C8C8C;
}

.price-option .most
{
	background-color: #efb223;
	color: #FFF;
	padding: 5px 10px 10px;
	font-weight: bold;
	margin-bottom: 0;
}

.price-option .bas,
.price-option .mois
{
	margin-top: 30px;
}

.price-option .row
{
	margin-top: 30px;
	margin-bottom: 40px;
}

.costumer 
{
background-color: #FFF;
padding: 80px 0;

}

.costumer  .test-desc
{
	margin-bottom: 30px;
}

.costumer .p-client
{
	background-color: #F5F5F5;
	color: #8e8F93;
	padding: 20px;
	position: relative;
	margin-bottom: 20px;


}

.costumer .p-client:after
{
	content: '';
	width: 0;
	height: 0;
	border:solid;
	border-width: 15px 15px 15px 15px;
	border-color: #F5F5F5  transparent transparent transparent;
	position: absolute;
	left: 16px;
	bottom: -28px;

}
.costumer .media-heading
{
	font-weight: bold;
	margin-top: 20px;
}


.costumer  .media-body p
{
	color: #8C8C8C;
}


.style 
{
	background: url('../images/head.jpg') fixed top center;
	background-size: cover;
	position: relative;
	color: #FFF;

}

.overla
{
		
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgb(0,0,0,.5);
		padding: 50px 0;

}
.style .desc-style
{
	color: #8e8F93;
}

.style .style-btn
{
	background: transparent;
	padding: 10px 20px;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	margin-top: 50px;
	border: 1px solid #FFF;
}
.style .head-border-center:after
{
	background-color: #FFF;
}

.contact 
{

}

.contact .contact-h2
{
	font-weight: bold;
}

.contact .test-desc
{
	color: #8e8F93;
	margin-bottom: 20px;
}

.contact .contact-btn
{
	background: transparent;
	color: #FFF;
	background-color: #efb223;
	border: 1px solid #efb223;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 16px;
	margin-top: 20px;
}


.contact form [type="text"],
.contact form [type="email"]

{
	margin-bottom: 10px;
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #e0e0e0;
	border-radius: 0;
}

.contact form textarea
{
	height: 156px;
	border: none;
	box-shadow: none;
	border-radius: 0;
	border-bottom: 1px solid #e0e0e0;
}

.footer
{
	background-color: #000;
	color: #EEE;
	padding: 20px;
	font-size: 15px;
	margin-top: 50px;

}

@media (max-width: 991px) {
	.text-center-xs{
		text-align: center;
	}
	
}